h1{
    align-self: center;
    margin: 50px auto;
    width: 50%;
    color: #eba537;
    font-size: 50px;
    padding: 5px;
    margin-left: 450px;
}
.Aim{
    outline-color: #eba537;
}
.header{
    font-size: 40px;
    color: #eba537;
}
.sub-header{
    font-size: 30px;
    color: #eba537;
}
p{
    font-size: 20px;
}
ul{
    font-size: 20px;
}